@inherits LayoutComponentBase

<div class="h-100 d-flex flex-column" style="min-width:fit-content">

    <div class="bg-primary d-flex flex-shrink-0" style="height:68px">
        <div class="container d-flex justify-content-between align-items-center">
            <img src="images/geta_wordmark_stone_grey_rgb.svg" alt="Geta logo" style="height:24px" />
            <h1>Feedback</h1>
        </div>
    </div>

    <main class="d-flex flex-grow-1 align-items-center justify-content-center bg-secondary-subtle"> @Body </main>

</div>
