@page "/thank-you"

<div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column bg-white justify-content-center rounded-5 shadow-lg" style="width:600px; height:300px">
        <h1 class="text-center">Thank you!</h1>
        <h2 class="text-center">Your response has been submitted.</h2>
    </div>
</div>
